
.slippy-map {
  background-color: #333;
  overflow: hidden;
  position: relative;
}

.slippy-map .slippy-surface {
  position: absolute;
  z-index: 1;
}

.slippy-surface .tile {
  position: absolute;
}

.slippy-map .slippy-overlay {
  position: absolute;
  z-index: 2;
}

.slippy-overlay .overlay {
  position: absolute;
}

.slippy-map .slippy-markers {
  position: absolute;
  z-index: 10;  
}

.slippy-markers .marker {
  width: 8px;
  height: 8px;
  left: 3.5px;
  top: 3.5px;
  background-color: red;
  border: 1px solid #660000;
  position: absolute;
  -webkit-transform:rotate(45deg);
}

